.watermarked {

}

.watermarked img {
  filter: grayscale(100%) opacity(25%);
}

.watermarked:after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  background-image: url("https://bogus.com/hentoid-checkmark.webp");
  background-size: 75px 75px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  z-index:11;
}