<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="me.devsaki.hentoid"
    android:installLocation="auto">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name=".HentoidApp"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="false"
        tools:replace="android:allowBackup, android:supportsRtl">
        <activity
            android:name=".activities.SplashActivity"
            android:noHistory="true"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.IntroActivity"
            android:label="@string/app_intro"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activities.websites.HitomiActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/BrowserTheme" />
        <activity
            android:name=".activities.websites.NhentaiActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/BrowserTheme" />
        <activity
            android:name=".activities.websites.TsuminoActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/BrowserTheme" />
        <activity
            android:name=".activities.websites.ASMHentaiActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/BrowserTheme" />
        <activity
            android:name=".activities.websites.HentaiCafeActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/BrowserTheme" />
        <activity
            android:name=".activities.websites.PururinActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/BrowserTheme" />
        <activity
            android:name=".activities.websites.PandaActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/BrowserTheme" />
        <activity
            android:name=".activities.websites.EHentaiActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/BrowserTheme" />
        <activity
            android:name=".activities.DownloadsActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_downloads"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.Downloads">
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name=".activities.MikanSearchActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_mikan"
            android:parentActivityName=".activities.DownloadsActivity"
            android:theme="@style/AppTheme.Mikan"
            tools:ignore="UnusedAttribute">
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.DownloadsActivity" />
        </activity>
        <activity
            android:name=".activities.QueueActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_queue"
            android:parentActivityName=".activities.DownloadsActivity"
            android:theme="@style/AppTheme.TaupeBackground"
            tools:ignore="UnusedAttribute">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.DownloadsActivity" />
        </activity>
        <activity
            android:name=".activities.PrefsActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_preferences"
            android:parentActivityName=".activities.DownloadsActivity"
            android:theme="@style/PrefsTheme"
            tools:ignore="UnusedAttribute">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.DownloadsActivity" />
        </activity>
        <activity
            android:name=".activities.AboutActivity"
            android:label="@string/title_activity_about"
            android:parentActivityName=".activities.DownloadsActivity"
            android:theme="@style/AppTheme"
            tools:ignore="UnusedAttribute">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.DownloadsActivity" />
        </activity>
        <activity
            android:name=".activities.SearchActivity"
            android:label="@string/title_activity_search"
            android:theme="@style/AppTheme.Search"
            tools:ignore="UnusedAttribute">
        </activity>
        <activity
            android:name=".activities.ImportActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/ImportTheme" />
        <activity
            android:name=".activities.AppLockActivity"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.DarkBackgroundNoActionBar"
            android:windowSoftInputMode="stateAlwaysVisible" />
        <activity
            android:name=".activities.IntentActivity"
            android:theme="@style/BrowserTheme">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- Accepts URIs that begin with "https://hitomi.la/galleries" -->
                <data
                    android:host="hitomi.la"
                    android:pathPrefix="/galleries"
                    android:scheme="https" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- Accepts URIs that begin with "https://nhentai.net/g/" -->
                <data
                    android:host="nhentai.net"
                    android:pathPrefix="/g/"
                    android:scheme="https" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- Accepts URIs that begin with "http://www.tsumino.com/Book/Info" -->
                <data
                    android:host="www.tsumino.com"
                    android:pathPrefix="/Book/Info"
                    android:scheme="https" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- Accepts URIs that begin with "http://asmhentai.com/g" -->
                <data
                    android:host="asmhentai.com"
                    android:pathPrefix="/g"
                    android:scheme="https" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- Accepts URIs that begin with "http://comics.asmhentai.com/g" -->
                <data
                    android:host="comics.asmhentai.com"
                    android:pathPrefix="/g"
                    android:scheme="https" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- Accepts URIs that begin with "https://hentai.cafe/" -->
                <data
                    android:host="hentai.cafe"
                    android:pathPrefix="/"
                    android:scheme="https" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- Accepts URIs that begin with "http://pururin.io/" -->
                <data
                    android:host="pururin.io"
                    android:pathPrefix="/"
                    android:scheme="https" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- Accepts URIs that begin with "https://mangapanda.com/" -->
                <data
                    android:host="www.mangapanda.com"
                    android:pathPrefix="/"
                    android:scheme="https" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- Accepts URIs that begin with "https://e-hentai.org/" -->
                <data
                    android:host="e-hentai.org"
                    android:pathPrefix="/"
                    android:scheme="https" />
            </intent-filter>
        </activity>

        <service
            android:name=".services.ContentDownloadService"
            android:enabled="true"
            android:exported="false" />

        <service android:name=".services.UpdateCheckService" />

        <service android:name=".services.UpdateDownloadService" />

        <service android:name=".services.ImportService" />

        <service android:name=".services.DatabaseMaintenanceService" />

        <receiver android:name=".receiver.DownloadNotificationDeleteReceiver" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

    </application>

</manifest>