<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    android:installLocation="auto">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- Somehow needed by Firebase for reliable local dispatching on non-Google Play devices -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- Required to install update packages when targeting API 25 or higher -->
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <!-- Required to run keep-alive service when targeting API 28 or higher -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <!-- Required to install update packages when targeting API 29 or higher -->
    <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT" />


    <application
        android:name=".core.HentoidApp"
        android:allowBackup="false"
        android:extractNativeLibs="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="false"
        android:theme="@style/Theme.Light"
        android:usesCleartextTraffic="true"
        tools:replace="android:allowBackup, android:supportsRtl, android:extractNativeLibs">
        <activity
            android:name=".activities.MissingWebViewActivity"
            android:exported="false"
            android:noHistory="true" />
        <activity
            android:name=".activities.SplashActivity"
            android:exported="true"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.IntroActivity"
            android:label="@string/app_intro" />
        <activity
            android:name=".activities.Api29MigrationActivity"
            android:label="@string/title_activity_api29_migration" />
        <activity
            android:name=".activities.sources.HitomiActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".activities.sources.NhentaiActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".activities.sources.TsuminoActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".activities.sources.ASMHentaiActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".activities.sources.PururinActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".activities.sources.EHentaiActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".activities.sources.MusesActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".activities.sources.DoujinsActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".activities.sources.LusciousActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".activities.sources.ExHentaiActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".activities.sources.PorncomixActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".activities.sources.HbrowseActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".activities.sources.Hentai2ReadActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".activities.sources.HentaifoxActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".activities.sources.MrmActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".activities.sources.ManhwaActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".activities.sources.ImhentaiActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".activities.sources.ToonilyActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".activities.sources.AllPornComicActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".activities.sources.PixivActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".activities.sources.Manhwa18Activity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".activities.sources.MultpornActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".activities.LibraryActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_downloads"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name=".activities.QueueActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_queue"
            android:parentActivityName=".activities.LibraryActivity"
            tools:ignore="UnusedAttribute">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.LibraryActivity" />
        </activity>
        <activity
            android:name=".activities.PrefsActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_preferences"
            android:parentActivityName=".activities.LibraryActivity"
            android:theme="@style/Theme.Light.Prefs"
            tools:ignore="UnusedAttribute">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.LibraryActivity" />
        </activity>
        <activity
            android:name=".activities.ToolsActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_preferences"
            android:parentActivityName=".activities.LibraryActivity"
            android:theme="@style/Theme.Light.Prefs"
            tools:ignore="UnusedAttribute">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.LibraryActivity" />
        </activity>
        <activity
            android:name=".activities.AboutActivity"
            android:label="@string/title_activity_about"
            android:parentActivityName=".activities.LibraryActivity"
            tools:ignore="UnusedAttribute">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.LibraryActivity" />
        </activity>
        <activity
            android:name=".activities.DrawerEditActivity"
            android:label="@string/title_activity_drawer_edit"
            tools:ignore="UnusedAttribute" />
        <activity
            android:name=".activities.DuplicateDetectorActivity"
            android:label="@string/title_activity_duplicate_detector"
            tools:ignore="UnusedAttribute" />
        <activity
            android:name=".activities.SearchActivity"
            android:label="@string/title_activity_search"
            tools:ignore="UnusedAttribute" />
        <activity
            android:name=".activities.UnlockActivity"
            android:noHistory="true"
            android:resizeableActivity="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.PinPreferenceActivity"
            android:resizeableActivity="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.IntentActivity"
            android:exported="true"
            android:theme="@style/Theme.Invisible">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="hitomi.la"
                    android:pathPattern="/..*/..*"
                    android:scheme="https" />
                <data
                    android:host="www.hitomi.la"
                    android:pathPattern="/..*/..*"
                    android:scheme="https" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="nhentai.net"
                    android:pathPrefix="/g/"
                    android:scheme="https" />
                <data
                    android:host="www.nhentai.net"
                    android:pathPrefix="/g/"
                    android:scheme="https" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="www.tsumino.com"
                    android:pathPrefix="/entry/"
                    android:scheme="https" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="asmhentai.com"
                    android:pathPrefix="/g"
                    android:scheme="https" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="comics.asmhentai.com"
                    android:pathPrefix="/g"
                    android:scheme="https" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="pururin.to"
                    android:pathPrefix="/gallery"
                    android:scheme="https" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="e-hentai.org"
                    android:pathPrefix="/g/"
                    android:scheme="https" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="exhentai.org"
                    android:pathPrefix="/g/"
                    android:scheme="https" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="8muses.com"
                    android:pathPrefix="/comics/album/"
                    android:scheme="https" />

                <data
                    android:host="www.8muses.com"
                    android:pathPrefix="/comics/album/"
                    android:scheme="https" />

                <data
                    android:host="comics.8muses.com"
                    android:pathPrefix="/comics/album/"
                    android:scheme="https" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="doujins.com"
                    android:pathPattern="..*/..*"
                    android:scheme="https" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="luscious.net"
                    android:pathPattern="..*/..*"
                    android:scheme="https" />
                <data
                    android:host="www.luscious.net"
                    android:pathPattern="..*/..*"
                    android:scheme="https" />
                <data
                    android:host="members.luscious.net"
                    android:pathPattern="..*/..*"
                    android:scheme="https" />
                <data
                    android:host="www.members.luscious.net"
                    android:pathPattern="..*/..*"
                    android:scheme="https" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="porncomixonline.net"
                    android:pathPattern="..*/.*"
                    android:scheme="https" />
                <data
                    android:host="porncomixonline.com"
                    android:pathPattern="..*/.*"
                    android:scheme="https" />
                <data
                    android:host="www.porncomixonline.net"
                    android:pathPattern="..*/.*"
                    android:scheme="https" />
                <data
                    android:host="www.porncomixonline.com"
                    android:pathPattern="..*/.*"
                    android:scheme="https" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="www.hbrowse.com"
                    android:pathPattern="/..*/..*"
                    android:scheme="https" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="hentai2read.com"
                    android:pathPattern="/..*/"
                    android:scheme="https" />
                <data
                    android:host="hentai2read.com"
                    android:pathPattern="/..*/..*"
                    android:scheme="https" />
                <data
                    android:host="hentai2read.com"
                    android:pathPattern="/..*/..*/..*"
                    android:scheme="https" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="hentaifox.com"
                    android:pathPattern="/gallery/..*/"
                    android:scheme="https" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="myreadingmanga.info"
                    android:pathPattern="/..*/"
                    android:scheme="https" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="manhwahentai.me"
                    android:pathPattern="/..*/..*"
                    android:scheme="https" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="imhentai.com"
                    android:pathPattern="/gallery/..*"
                    android:scheme="https" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="toonily.com"
                    android:pathPattern="/..*/..*"
                    android:scheme="https" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="allporncomic.com"
                    android:pathPattern="/porncomic/..*/"
                    android:scheme="https" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="pixiv.net"
                    android:pathPattern="/..*/artworks/..*"
                    android:scheme="https" />
                <data
                    android:host="pixiv.net"
                    android:pathPattern="/..*/user/..*/series/..*"
                    android:scheme="https" />
                <data
                    android:host="pixiv.net"
                    android:pathPattern="/..*/users/..*"
                    android:scheme="https" />
                <data
                    android:host="www.pixiv.net"
                    android:pathPattern="/..*/artworks/..*"
                    android:scheme="https" />
                <data
                    android:host="www.pixiv.net"
                    android:pathPattern="/..*/user/..*/series/..*"
                    android:scheme="https" />
                <data
                    android:host="www.pixiv.net"
                    android:pathPattern="/..*/users/..*"
                    android:scheme="https" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="manhwa18.com"
                    android:pathPattern="/manga/..*"
                    android:scheme="https" />
                <data
                    android:host="manhwa18.com"
                    android:pathPattern="/manga/..*/..*"
                    android:scheme="https" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="multporn.net"
                    android:pathPattern="/..*/..*"
                    android:scheme="https" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.ReaderActivity"
            android:label="Image Viewer"
            android:launchMode="singleTask"
            android:theme="@style/Theme.Light.Monochrome">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.LibraryActivity" />
        </activity>

        <!-- Services -->

        <service android:name=".services.UpdateCheckService" />

        <service android:name=".services.API29MigrationService" />

        <!-- Receivers -->

        <receiver android:name=".receiver.DownloadNotificationDeleteReceiver" />

        <receiver android:name=".receiver.ArchiveNotificationSuccessReceiver" />

        <receiver android:name=".receiver.DownloadNotificationPauseReceiver" />

        <receiver android:name=".receiver.DuplicateNotificationStopReceiver" />

        <receiver android:name=".receiver.AppUpdateDownloadReceiver" />

        <!-- Providers -->

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider.FileProvider"
            android:enabled="true"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

    </application>

</manifest>
